body {
    background-image: linear-gradient(to bottom right, #c6ffb5, #000000);
    font-family: 'Bungee', cursive;
  }

.title {
    text-align: center;
    color: #000000;
    font-size: xx-large;
    padding-top: 100px;
}

.embed {
    text-align: center;
    padding-top: 100px;
}

.links {
  text-align: center;
  padding-top: 135px;
  padding-bottom: 400px;
}

.button {
  width: 200px;
}