body {
    background-color: #0f0f0f;
    font-family: 'Bungee', cursive;
  }

.title {
    text-align: center;
    color: #435342;
    font-size: xx-large;
    padding-top: 100px;
}

.embed {
    text-align: center;
    padding-top: 75px;
}

.listen {
  text-align: center;
  padding-top: 100px;
}

.apple {
  width: 180px;
  height: 44px;
  padding-right: 20px;
}

.spotify {
  width: 180px;
  height: 44px;
  padding-left: 20px;
}