body {
    background-image: linear-gradient(to bottom right, #c6ffb5, #000000);
    font-family: 'Bungee', cursive;
  }

.title {
    text-align: center;
    color: #000000;
    font-size: xx-large;
    padding-top: 125px;
}

.embed {
    text-align: center;
    padding-top: 50px;
}

.listen {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 200px;
}

.apple {
  width: 180px;
  height: 44px;
  padding-right: 25px;
}

.spotify {
  width: 180px;
  height: 44px;
  padding-left: 25px;
}